{{ foo }}
{# comment #}
{% if foo %}{% endif %}

{{- foo -}}
{#- comment -#}
{%- if foo -%}{%- endif -%}

{{
    shouldNotCareAboutNewLine
}}
{#
    shouldNotCareAboutNewLine
#}
{%- if foo -%}{%- endif -%}

{{ foo({'bar': {'baz': 'shouldNotCareAboutDoubleHashes'}}) }}

<div>
    {{
        shouldNotCareAboutNewLine
    }}
</div>

{% verbatim %}
    <ul>
    {% for item in seq %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>
{% endverbatim %}

{%

    trans with {
    contactUrl: 'http://contact',
}

 %}my.key{% endtrans %}

{##}
{##}
{#--#}
{#--#}
{# -#}
{#- #}
